<html>
<head>
    <title>Document</title>
</head>
<body>
    <h1>Form to add tasks</h1>
    <form class ="" action="/tasks/add" method="post">
        <input type="text" name="name" placeholder="tasks name"/>
        <input type="text" name="duration" placeholder="duration"/>
        <input type="text" name="description" placeholder="description"/>
        <button type="submit">Add</button>
    </form>
</body>
</html>